.form-ctr{
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  background-color: rgba($accent-1, 0.2);
  transition: all 0.8s ease-in-out;
  max-height: calc(100vh - 175px);
  height: 100%;
  overflow: auto;
  opacity: 1;
  left: 0px;
  transform: translateX(0px);
  position: relative;
  h3.close{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 4;
    width: 15px;
    cursor: pointer;
    transition: all 0.25s;
    &:hover{
      color: #b7b7b7;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div, button, h3 {
        width: 100%;
        transition: all 0.25s;
        animation: 0.9s none 0s 1 animateFormElements;
        position: relative;
    }
    .id-ctr{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      right: 50px;
      color: #fff;
      position: absolute;
      top: -3px;
      div{
        font-size: 60px;
        color: rgba(255, 255, 255, 0.2);
        font-weight: 700;
        position: relative;
        right: -20px;
      }
    }
  }
  .checkbox-ctr{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
  }
  .error{
    color: #ff9b9b;
    position: relative;
    top: -8px;
  }
  h3{
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    font-size: 20px;
  }
  .moc-ctr{
    display: flex;
    justify-content: center;
    align-items: center;
    .close{
      font-size: 24px;
      top: 2px;
      font-weight: 800;
      margin: 0 10px;
      cursor: pointer;
    }
    p{
      color: #fff;
      margin: 0 10px 0 0;
      font-size: 40px;
      position: relative;
      top: 10px;
    }
    .lens-ctr{
      width: calc(50% - 32.5px);
      margin: 0 10px;
    }
    .input-group{
      width: calc(50% - 32.5px);
      margin: 0 10px;
    }
  }
  .adjacent-fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.configure-btn-ctr{
      justify-content: center;
      button:nth-child(2){
        margin-left: 20px;
      }
    }
    button, .input-group{
      width: calc(50% - 10px);
    }
  }
  button{
    width: calc(50% - 10px) !important;
    margin: 10px 0;
    padding: 0px 12px;
    h4{
      font-size: 40px;
      margin: 0;
    }
    p{
      margin: 0 0 15px 0;
      font-size: 13px;
      font-family: 'Montserrat', sans-serif;
    }
  }
  input{
    padding: 0px;
    border-width: 0px 0px 2px 0;
    font-size: 15px;
    background-color: transparent;
    color: #fff;
    outline: none !important;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    width: 100%;
    margin: 10px 0;
    &::placeholder{
      color: #fff;
      font-weight: 500;
      font-size: 15px;
    }
  }
  button.submit{
    margin-top: 30px;
  }
}

@keyframes animateFormElements {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
