
button{
	background: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	font-size: 15px;
	padding: 5px 12px;
	cursor: pointer;
	outline: none !important;
	transition: all 0.25s;
	&:hover{
		color: $accent-1;
		background: #fff;
	}
}
