.checkbox-ctr {
  display: flex;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
}
.checkbox-ctr .check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.checkbox-ctr .check:before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.checkbox-ctr .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.checkbox-ctr .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.checkbox-ctr .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.checkbox-ctr .check:hover:before {
  opacity: 1;
}
.checkbox-ctr .check:hover svg {
  stroke: #b7b7b7;
}
.checkbox-ctr #cbx.checked + .check svg {
  stroke: #fff;
}
.checkbox-ctr #cbx.checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
.checkbox-ctr #cbx.checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
