// Search styles

.lens-ctr{
  position: relative;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: all 0.5s;
  &.animate{
    input,svg.search-icon{
      opacity: 0
    }
  }
  .error{
    position: absolute !important;
    top: 55px !important;
    color: #ff9b9b;
  }
  input.lens-input{
    transition: all 0.5s;
    transition-delay: 0.3s !important;
    padding: 10px 20px;
    border: 0px;
    font-size: 15px;
    background-color: transparent;
    color: #fff;
    outline: none !important;
    padding: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    &::placeholder{
      color: #fff;
      font-weight: 500;
      font-size: 15px;
    }
  }
  .no-result-ctr{
    .result-node{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .embaressed-icon{
      height: 70px;
      width: 70px;
      margin-top: 30px;
      fill: #fff;
    }
    p{
      color: #fff;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .result-ctr{
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100%;
    max-height: calc(50vh - 200px);
    position: absolute;
    top: 60px;
    animation: 1s none 0s 1 animateResultView;
    transform-origin: top;
    overflow-y: auto;
    z-index: 3;
    .result-node{
      background-color: $accent-1;
      animation: 1s none 0s 1 animateNodeView;
      cursor: pointer;
      color: #fff;
      padding: 20px 10px;
      font-weight: 500;
      border-bottom: 1px solid #fff;
      transition: all 0.25s;
      &.hovered{
        background-color: $accent-2;
      }
      &:last-child{
        border: 0px;
      }
      .items{
        li{
          margin: 2px 0;
          padding: 2px 0;
          border: 1px solid #fff;
          border-width: 1px 0 1px;
          span{
            position: relative;
            left: -5px;
          }
          .items-subline{
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
      span{
        color: #ffb79d;
      }
    }
  }
  svg.search-icon{
    transition: all 0.5s;
    transition-delay: 0.5s;
    position: absolute;
    fill: #fff;
    height: 25px;
    width: 25px;
    right: 5px;
    top: 7px;
  }
}

@keyframes animateNodeView {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateResultView {
  0% {
    opacity: 0;
    transform: scale3d(0,0,0);
  }
  50% {
    transform: scale3d(1,0,1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}
