@import 'scrollbar';
@import 'palette';
@import 'emptyView';
@import 'lens';
@import 'button';
@import 'fonts';
@import 'checkbox';
@import 'analyticalform';

body {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 14px;
  overflow: auto;
  #app, .app-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .chem-bg{
      background-image: url('../Assets/chem-bg.png');
      background-size: cover;
      height: 100vh;
      width: 100vw;
      filter: contrast(1.5);
      background-repeat: no-repeat;
      background-size: 133%;
      background-position-x: 77%;
      position: fixed;
    }
    .view-ctr{
      z-index: 1;
      top: 76px;
      width: 100%;
      height: calc(100% - 76px);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      .list-form-ctr{
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: calc(100% - 20px);
        width: 100%;
        overflow: hidden;
        transition: all 0.7s;
        &.flipped{
          .list-ctr{
            opacity: 1;
            transform: translateX(-50%);
          }
          .form-ctr{
            opacity: 0;
            transform: translateX(500px);
          }
        }
        .list-ctr{
          min-height: 50vh;
          width: 100%;
          max-width: 500px;
          border-radius: 5px;
          border: 2px solid #fff;
          opacity: 0;
          transform: translateX(calc(-50% - 550px));
          left: 50%;
          transition: all 0.75s ease-in-out;
          position: absolute;
          padding: 10px 15px;
          button{
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 700;
            font-size: 35px;
            padding: 0;
            line-height: 30px;
            border-radius: 50%;
            background-color: #fff;
            border-color: #f5f5f5;
            box-sizing: border-box;
            -webkit-box-shadow: 0px 0px 16px 13px rgba(255,255,255,1);
            -moz-box-shadow: 0px 0px 16px 13px rgba(255,255,255,1);
            box-shadow: 0px 0px 16px 13px rgba(255,255,255,1);
            &:hover{
              p{
                color: #fff !important;
              }
              background-color: $accent-1;
            }
            p{
              margin: 0;
              color: $accent-1;
              top: -3px;
              padding: 0 3px;
              position: relative;
            }
          }
          h2.head{
            font-weight: 600;
            font-size: 20px;
            color: #fff;
            margin-bottom: 30px;
          }
          .table-row{
            display: flex;
            justify-content: space-between;
            padding: 3px 0;
            cursor: pointer;
            div{
              width: 50%;
              color: #fff;
              span{
                font-weight: 600;
                padding-right: 15px;
              }
            }
          }
        }
      }
      & > div {
        animation: 0.9s none 0s 1 animateView;
        position: relative;
      }
    }
  }
  .branding{
    background-image: url('../Assets/stark.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 56px;
    width: 200px;
    position: fixed;
    top: 20px;
    left: 20px;
    filter: drop-shadow(2px 4px 6px black);
  }
}

@keyframes animateView {
  0% {
    opacity: 0.2;
    left: -10px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}
